<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-windows-capability-documentsLibrary"
    version="0.1.0">

    <name>Windows Add documentsLibrary Capability</name>
    <description>Add documentsLibrary Capability to appxmanifest</description>

    <!-- windows -->
    <platform name="windows">
       <config-file target="package.appxmanifest" parent="/Package/Capabilities">
          <Capability Name="documentsLibrary" />
       </config-file>
    </platform>
</plugin>
